<!DOCTYPE html>
<html lang="en">

    <%-include('../partials/head')%>
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styleCart.css">
    <title>Mi carrito</title>
<body>
    
    <%-include('../partials/header')%>

    <main>
    <div class="carrito-completo">
        <section class="cart-view">
            <header class="cabecera-cart">TU CARRITO: 1</header>

            <div class="cart-desgloce">

            <div class="producto">
               <div class="foto-producto"> <img src="/images/Coleccionables/Gengar-Plush/1.webp"></div>
               <div class="detalle-producto">
                <p class="tipo-product">producto tipo x</p>
                <p class="detalle-minimo">coleccionable, modelo especial...</p>
                <p class="envio-gratis"> 
                    Envio gratis
                    <i class="fas fa-bolt"></i>
                    FULL
                </p>
                </div>
                <div class="cantidades">
                    <div class="select-cant">
                        <i class="fas fa-chevron-left"></i>
                        <p>1</p>
                        <i class="fas fa-chevron-right"></i>
                    </div>
                    <p class="importe">importe $00.00</p>
                </div>
                <div class="botones">
                    <div class="eliminar">ELIMINAR</div>
                    <div>GUARDAR</div>
                    <nav class="nav-puntos"><i class="fas fa-ellipsis-v"></i></nav>
                </div>
            </div>
            </article>
            </div>

            <div class="total-cart-mobile">
            <div class="detalles-mobile">
                <p class="resumen-direc-mobile">direccion resumen</p>
                <p class="envio-mobile">GRATIS</p>
            </div>
            <div class="total-mobile">
                <h4>Total con envío</h4>
            <div class="monto-mobile">
                <h3>$00.00</h3>
                <p>meses sin intereses</p>
            </div>
            </div>
                <div class="boton-continuar">Continuar compra</div>
            </div>
        </section>   
        <section class="total-cart">
            <h2>TOTAL DE COMPRA</h2>
           <div class="cant-productos"><h3>PRODUCTOS:</h3><p>3</p></div>
            <p class="domicilio">salvino somellera 308, col. San Martin, CDMX, México</p>
            
        <div class="costo-envio">
            <h4>ENVIO:</h4>
            <p>
                <i class="fas fa-check-circle"></i>
                Tu pedido es elegible con envío GRATIS
            </p>
        </div>
        <div class="total-estimado">
            <h3 class="total">TOTAL:</h3><p class="dinero">$1,500.00</p>
        </div>
        </section>
    </div>
        <section class="algoritm">

        </section>
    </main>
    <%-include('../partials/footer')%>
</body>
</html>