<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <title>GlueGames | Sitio oficial</title>
</head>
<body>
    <header class="main-header">

        <div>
           <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
        </div>

        <nav class="header-firstnav">
        
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Soporte</a></li>
        
        </nav>

        <div class="box">
            <div class="container-1">
                <span class="icon"><i class="fa fa-search"></i></span>
                <input type="search" id="search" placeholder="Buscar" />
            </div>
          </div>

        <nav class="header-secondnav">
            
                <li><a href="/login">Iniciar sesión</a></li>
                <li><a href="/productCart"><i class="fas fa-shopping-cart"></i></a></li>
        
        </nav>

    </header>

    <main>

        <section>
            <div class="carrousel">
                    <article>
                        <a href="#"><img class="imagen1-carrousel" src="/images/homeImagenes/codvanguard.jpg" alt="Imagen del cod vanguard"></a>
                        <label class="texto1-carrousel">
                            <h1>Últimos lanzamientos</h1>
                            <p>Call Of Duty: Vanguard, nueva entrega de una de las franquicias mas grandes del mundo.</p>
                        </label>
                    </article>
            </div>
        </section>

        <section class="productos-en-venta">

            <div class="container-videojuegos">
                <a href="#">
                    <img src="/images/homeImagenes/videojuegos.jpg" alt="video juegos">
                    <p>Video Juegos</p>
                </a>
            </div>

            <div class="container-consolas">
                <a href="#">
                    <img src="/images/homeImagenes/Consolas.jpg" alt="consolas">
                    <p>Consolas</p>
                </a>
            </div>

            <div class="container-coleccionables">
                <a href="#">
                    <img src="/images/homeImagenes/coleccionables.jpg" alt="coleccionables">
                    <p>Coleccionables</p>
                </a>
            </div>

            <div class="container-accesorios">
                <a href="#">
                    <img src="/images/homeImagenes/accesorios.jpg" alt="accesorios">
                    <p>Accesorios</p>
                </a>
            </div>

        </section>

        <section class="container-los-mas-vendidos">
            
            <div class="container-masvendidos">
                <div class="container-vendidos-texto">
                    <h1><span>LOS MÁS</span> VENDIDOS</h1>
                </div>
                <div class="container-imagenes-masvendido">
                <div class="mas-vendido1">
                    <a href=""><img src="/images/Coleccionables/Gengar-Plush/GUEST_264f68ec-b2b7-407f-acb7-a59738224569.webp" alt=""></a>
                </div>
                <div class="mas-vendido2">
                    <a href=""><img src="/images/Coleccionables/LEGO Star Wars - Baby Yoda/81oW3YgtvAL._AC_SL1500_.jpg" alt=""></a>
                </div>
                <div class="mas-vendido3">
                    <a href=""><img src="/images/Coleccionables/The Legend of Zelda - Link Action Figure/60a63e8ca4be40febc812a7e7c6a5a7b.jpg.webp" alt=""></a>
                </div>
                </div>
            </div>
        </section>

        <section>
            <h1 class="titulo-ofertas">Ofertas</h1>
            <div class="ofertas">
                <div class="oferta-principal">
                    <div class="oferta1"><img src="/images/Juegos/Assassin's creed valhalla/6426004_sd.jpg" alt=""></div>
                </div>
                <div class="otras-ofertas">
                    <div class="ofertaa">
                        <a href="#"><img src="/images/Consolas/PS5/71vWi5Iuz3L._SL1500_.jpg" alt=""></a>
                        <a href="#"><img src="/images/Coleccionables/Gengar-Plush/GUEST_60e553b4-4521-47d3-93da-6f79da3cf38c.webp" alt=""></a>
                    </div>
                    <div class="ofertab">
                        <a href="#"><img src="/images/Coleccionables/The Legend of Zelda - Link Action Figure/d16f82bc07374717bfece1cdba56d8b8.jpg.webp" alt=""></a>
                        <a href="#"><img src="/images/Coleccionables/LEGO Star Wars - Baby Yoda/81oW3YgtvAL._AC_SL1500_.jpg" alt=""></a>
                    </div>
                    </div>
            </div>
        </section>
            
    </main>

    <footer>
        <div class="container-body-footer">
            
            <div class="footer-info">
                <h1>Información del e-commerce</h1>
                <p>GG es una plataforma y comunidad para jugadores de habla hispana basada en Argentina, donde vas a poder acceder a un sinfín de juegos, ofertas, novedades y todo lo relacionado al gaming. A su vez vas a poder relacionarte con compañeros alrededor del mundo, los cuales te ayudarán en este recorrido dentro de la comunidad, recomendando productos y reseñando los juegos para que siempre tengas lo mejor y encuentres lo que estés buscando. </p>
            </div>

            <div class="footer-redes">
                <h1>Nuestro GitHub</h1>
                <div class="redes"><a href="https://github.com/cristugarcia"><i class="fab fa-github-square"></i></a><label> Cristina Garcia</label></div>
                <div class="redes"><a href="https://github.com/EnsayistaPop"><i class="fab fa-github-square"></i></a><label> Pablo Cruz</label></div>
                <div class="redes"><a href="https://github.com/EstebanPrietoCode"><i class="fab fa-github-square"></i></a><label> Esteban Prieto</label></div>
                <div class="redes"><a href="https://github.com/mferfarias"><i class="fab fa-github-square"></i></a><label> Fernanda Farias</label></div>
                <div class="redes"><a href="https://github.com/DanteDangeli"><i class="fab fa-github-square"></i></a><label> Dante D'Angeli</label></div>
            </div>

        </div>
        <div class="container-end-footer">
            <div class="disclaimer">Copyright © 2021 GlueGames.com.ar. All Right Reserved</div>
            <div class="logo-footer"><img src="/images/logo-gluegames.png" alt="logo gluegames"></div>
        </div>
    </footer>
</body>
</html>