<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>registro</title>
</head>
<body>
  <img src="/images/logo-gluegames.png" alt="logo" class="logo"> 

  <form method="POST" action="/registrar-nuevo-usuario" class="formulario">

    <div>
        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario" class="control">
    </div>

    <div>
        <label for="contraseña">Contraseña</label>
        <input type="password" name="Contraseña" id="contraseña" class="control">
    </div>
   
    <div>

       <button type="submit">Ingresar</button>

    </div>
</form>
</body>
</html>