<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>GlueGames | Sitio oficial</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <!--link rel="stylesheet" href="/css/normalize.css"-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <header class="main-header">

        <div>
            <img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames">
        </div>

        <h1>Página de detalle de producto</h1>

        <nav class="header-firstnav">
            <ul>
                <li><a href="#">Tienda</a></li>
                <li><a href="#">Acerca de</a></li>
                <li><a href="#">Soporte</a></li>
            </ul>
        </nav>

    <div class="busqueda">
        <input type="text" name="busqueda" id="busqueda" placeholder="¿Que necesitas?">
        <button type="button" id="buscar"><i class="fas fa-search"></i></button>
    </div>

    <nav class="header-secondnav">
        <ul>
            <li><a href="#">Iniciar sesión</a></li>
            <li><a href="#"><i class="fas fa-shopping-cart"></i></a></li>
        </ul>
    </nav>
 
    </header>

    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="images/product1a.jpg" alt="Assassain´s" class="product_img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <p class="price">$6.770</p>
                        <p class="discount">40% off</p>
                        <h4 class="description">ASSASSIN´S  PS5</h4>
                    </div>
                </article>
            </div>
        </section>
    <main>



</body>
</html>