<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-registro.css">
    <title>registro</title>
</head>
<body>

  <form method="POST" action="/registrar-nuevo-usuario" >
   <a href="/"> <img src="/images/logo-gluegames.png" alt="logo" class="logo"> </a>


   <div class="formulario">
    <div>
        <label for="nombreCompleto">Nombre y apellido</label>
        <input type="text" name="nombre" id="nombreCompleto" class="control">
    </div>
    <div>
        <label for="usuario">Nombre de usuario</label>
        <input type="text" name="usuario" id="usuario" class="control">
    </div>
    <div>
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="control">
    </div>
    <div>
        <label for="fecha">Fecha de nacimiento</label>
        <input type="date" name="fechaNacimiento" id="fecha" class="control">
    </div>
    <div>
        <label for="domicilio">Domicilio</label>
        <input type="text" name="domicilio" id="domicilio" class="control">
    </div>
    <div>
        <label for="foto">Foto de usuario</label>
        <input type="file" name="foto-perfil" id="foto">
    </div>
    <div>
        <label for="contraseña">Contraseña</label>
        <input type="password" name="Contraseña" id="contraseña" class="control">
    </div>
    <div>
        <label for="confirmar">Confirmar contraseña</label>
        <input type="password" name="confirmar" id="confirmar" class="control">
    </div>
   
    <div class="botones">

       <button type="submit">Enviar</button>

        <button type="reset">Borrar</button>
    </div>
</div>
</form>
</body>
</html>