* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*outline: 1px solid red;*/
}

/*:root {
  --main-color: #333333;
  --secondary-color: #232323;
  --type-color: #ffffff;
  --details-color: #06d4ff;
}*/

.body{
    /*background: #f2f2f2;*/
    background: #333333;

    /*font-family: sans-serif;*/
}


.hero{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  display:  flex;
  flex-direction: column;
  

 }

/*ESTE ES ITEM DE LA IMAGEN GRANDE*/
.hero_picture{
  /*
  margin-bottom: 1em;*/

  }

/*ESTO ES LA IMAGEN*/
.hero_img{
  display: inline-block;
  width: 100%;
  max-width: 600px
  margin: auto;
  }

/*ESTE ES ITEM DE LOS TXT Y BOTONES DE LA DERECHA*/
.hero_texts{
  /*flex-basis: 40%;*/
  }

.hero_paragraph{
  line-height: 1.5;
  font-weight: 300;
  padding: .7em 0;
  font-size: 20px;
}

.hero_cta{
  display: inline-block;
  color: black;
  text-decoration: none;
  background: yellow;
  padding: 20px 30px;
}

.hero_cta2{
  display: inline-block;
  color: #fff;
  text-decoration: none;
  background: slateblue;
  padding: 20px 30px;
}



/*PARA EL MODO PANTALLA GRANDE*/

@media screen and (min-width:850px) {

/*LA CLASE HERO ES UN FLEX CONTIENE TANTO LA FOTO GRANDE COMO EL TITULO Y BOTONES DE LA DERECHA*/

  .hero {
    flex-direction: row;
    justify-content: center;
    /*margin: 0 auto;*/
    /*margin: auto*/
    width: 97%;
       
      }

 /*LA CLASE FOTOS ES UN FLEX QUE CONTIENE LAS FOTOS CHICAS*/

   .fotos{
      width: 97%;
      height: 20%;
      display:  flex;
      flex-direction: row;
      justify-content: left;
      flex-wrap: nowrap;
      margin: auto;
      padding: 0px 20px 20px 100px;
        
      }

/*LA CLASE hero_picture  ES EL ITEM DE LA IZQUIERDA QUE CONTIENE LA FOTO GRANDE*/

  .hero_picture{
      /*
      margin-bottom: 1em;*/
      width: 50%;
      /*padding-left: 15%; */
      justify-content:center;
      display: flex;
      /*padding-left: 27em;   */
          }

/*LA CLASE hero_img  ES LA IMAGEN DENTRO DE hero_picture*/     
     
    .hero_img{
        /*margin-right: : 10em;
        display: inline-block;*/
        
      
      }

/*LA CLASE hero_texts  ES EL ITEM DE LA DERECHA QUE CONTIENE TITULO Y BOTONES*/

      .hero_texts{
        /*flex-basis: 40%;*/
        width: 50%;
        justify-content: center
      }
  

      /*.containerdetalle {
        display: flex;
        flex-direction: column;
        margin: auto;
        width: 97%;
        padding: 100px;
      }
      
      .detalle-info {
        max-width: 800px;
      }
      
      .detalle-txt {
        font-size: 500px;  
      }*/

  }


/*HASTA ACA PANTALLA GRANDE*/




  .hero_img{
    max-width: 600px;
  }


}

.fotos{
  width: 97%;
  height: 20%;
  display:  flex;
  flex-direction: row;
  justify-content: left;
  flex-wrap: nowrap;
  margin: auto;
  padding: 0px 20px 20px 100px;
  
}


.fotos_picture{
  width: 9%;
  height: 20%;
  /*border: white;
  border-style: solid;*/
}

.foto_img{
  width: 100%;
  height: 60%;
   }


.containerdetalle {
  display: flex;
  flex-direction: column;
  margin: auto;
  width: 97%;
  padding-left: 100px;
  padding-top: 1%;
  padding-bottom: 2%;
}

.detalle-info {
  max-width: 1300px;
}

.detalle-txt {
  font-size: 25px;  
}

/*.product_img {
  width: 50%;
}*/
