* {
  box-sizing: border-box;
}

body{
  background-color: #202020;
  color: white;
  font-family: 'poppins';
}

form{

  border-radius: 10px;
  padding: 10px;
}
.logo img{
  width: 100%;
}
.logo{
  width: 60%;
  margin: 50px auto;
}
h1{
  font-size: 16px;
  margin-bottom: 20px;

}
label{
  font-size: 12px;
}
input{
  font-size: 14px;
  font-family: 'poppins';
}
.nombreCompleto{
  display: flex;
  flex-wrap: nowrap
}
.userName input{
  width: 97%;
  margin-bottom: 5px;
  
}
.email input{
  width: 97%;
  margin-bottom: 5px;
}
.contraseña{
  margin-bottom: 20px;
}

.contraseña input{
  width: 97%;
}
.mantener{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.boton button{
  background-color: #097be6;
  color: white;
  font-family: 'poppins';
  width: 95%;
  margin: 25px auto;
  height: 45px;
  border-radius: 5px;
  text-decoration: none;
  
}
input{
  border-radius: 5px;
  height: 35px;
}
.ayuda{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  font-size: 14px;

}

@media(min-width:768px ){
  form{
    width: 50%;
    margin: auto;
  }
}

@media(min-width:1024px ){
  form{
    
    width: 30%;
    background-color: #202020;
    margin-left: 72%;
    height: 98vh;
    

  }
  .logo{
    margin: 50px auto;
  }
  h1{
    margin-bottom: 20px;
  }
  body{
    display: flex;
    background-image: url('../images/pexels-suludan-diliyaer-596750.jpg');
    background-size: contain;
    background-attachment: fixed;
    background-position: left;
  }

  


}
