* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #333333;
  --secondary-color: #232323;
  --type-color: #ffffff;
  --details-color: #069bff;
}

body {
  font-family: "Poppins";
  background-color: var(--main-color);
  color: var(--type-color);
}

form {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  margin: auto;
  height: 600px;
  max-width: 600px;
  border-radius: 10px;
  background-color: var(--secondary-color);
}

.logo {
  display: block;
  width: 80%;
  margin: auto;
  max-width: 200px;
  padding-top: 50px;
  padding-bottom: 20px;
}

h1 {
  text-align: center;
}

.formulario {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.formulario div {
  text-align: center;
  padding: 10px 0;
  margin: 10px 10px;
  font-size: 16px;
  width: 100%;
}

label {
  font-size: 20px;
}

.mantener {
  font-size: 18px;
}

.control {
  border-radius: 5px;
  width: 100%;
  padding: 5px;
}

.formulario div button {
  display: block;
  font-size: 20px;
  background-color: #069bff;
  color: white;
  width: 150px;
  height: 30px;
  margin: auto;
}

a {
  color: var(--type-color);
}
