* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #333333;
  --secondary-color: #232323;
  --type-color: #ffffff;
  --details-color: #06d4ff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--main-color);
  color: var(--type-color);
}

header {
  background-color: var(--secondary-color);
}

div img.logo {
  width: 100px;
}

.main-header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

ul {
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.busqueda {
  display: none;
}

.header-firstnav {
  display: none;
}

nav ul li a {
  font-size: 14px;
  font-weight: 100;
  color: var(--type-color);
  text-decoration: none;
  padding: 0 5px 0 5px;
}

@media (min-width: 768px) {
  .main-header {
    margin: auto;
  }
  .header-firstnav {
    display: flex;
  }
  .busqueda {
    display: flex;
  }
}

.product_img {
  width: 50%;
}
