<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Glue Games | sitio oficial</title>
    
</head>
<body>
    <%-include('./partials/header')%>
    
   <section class="carrusel">
    <img src="/images/Juegos/COD vanguard/VGD_SEE_THEM_RISE (2).jpg">
   </section>



   <section class="categorias">
    
    <div class="categoria">
        <a href="/products/departamento1"><img src="/images/homeImagenes/videojuegos.jpg"></a>
        <p class="nombre-categoria">videojuegos</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento2"> <img src="/images/homeImagenes/accesorios.jpg"></a>
        <p class="nombre-categoria">accesorios</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento3"> <img src="/images/homeImagenes/zelda.jpg"></a>
        <p class="nombre-categoria">coleccionables</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento4"> <img src="/images/homeImagenes/Consolas.jpg"></a>
        <p class="nombre-categoria">consolas</p>
    </div>
   </section>
   <h3 class="ofertas-title">ofertas</h3>
    <section class="ofertas">
      <div class="producto-oferta">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
    </section>
    <h3 class="novedades-title">novedades</h3>
 <section class="novedades">
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="ver-mas-novedades">
        <h4>ver más</h4>
        <i class="fas fa-arrow-right"></i>
    </div>
 </section>
 <section class="mas vendidos">
    <h3 class="novedades-title">Más vendidos</h3>
    <section class="novedades">
       <div class="producto-novedad">
           <img src="/images/homeImagenes/legosw.jpg">
           <div class="caja-datos-producto" id="caja-datos-producto-novedad">
               <h3 class="nombre-producto">Lego baby Yoda</h3>
               <p class="categoria-marca">Coleccionables | LEGO</p>
               <div class="box-precio">
                   <p class="descuento">-10%</p>
                   <p class="precio-unitario">$50,000</p>
                   <p class="precio">$45,000</p>
               </div>
       </div>
       </div>
       <div class="producto-novedad">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </div>
       <div class="ver-mas-novedades">
           <h4>ver más</h4>
           <i class="fas fa-arrow-right"></i>
       </div>
    </section>
 </section>

 <footer>
    <h2>
        Información del e-commerce  
    </h2>
    <p>
        GG es una plataforma y comunidad para jugadores de habla hispana 
        basada en Argentina, donde vas a poder acceder a un sinfín de juegos, 
        ofertas, novedades y todo lo relacionado al gaming. 
        A su vez vas a poder relacionarte con compañeros alrededor del mundo,
        los cuales te ayudarán en este recorrido dentro de la comunidad, 
        recomendando productos y reseñando los juegos para que siempre tengas
         lo mejor y encuentres lo que estés buscando.   
    </p>
    <div class="logo" id="logo-footer">
        <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
     </div>
 </footer>
</body>
</html>