<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Glue Games | sitio oficial</title>
    
</head>
<body>
    <%-include('./partials/header')%>
 
    <!-- Slideshow container -->
<div class="slideshow-container">

    <div class="mySlides fade" style="display: block;">
      <img src="/images/homeImagenes/marioGame copia.jpg" >
    </div>
  
    <div class="mySlides fade" style="display: none;">
      <img src="/images/homeImagenes/codvanguard.jpg">
    </div>
  
    <div class="mySlides fade" style="display: none;">
      <img src="/images/homeImagenes/setup.jpg">
    </div>
  
  <!-- The dots/circles -->
  <div style="text-align:center">
    <span class="dot" onclick="currentSlide(1)"></span>
    <span class="dot" onclick="currentSlide(2)"></span>
    <span class="dot" onclick="currentSlide(3)"></span>
  </div>

   <section class="categorias">
    
    <div class="categoria">
        <a href="/products/departamento3"><img src="/images/homeImagenes/videojuegos.jpg"></a>
        <p class="nombre-categoria">Videojuegos</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento2"> <img src="/images/homeImagenes/accesorios.jpg"></a>
        <p class="nombre-categoria">Accesorios</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento4"> <img src="/images/homeImagenes/zelda.jpg"></a>
        <p class="nombre-categoria">Coleccionables</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento1"> <img src="/images/homeImagenes/Consolas.jpg"></a>
        <p class="nombre-categoria">Consolas</p>
    </div>
   </section>
   <h3 class="ofertas-title">Ofertas</h3>
    <section class="ofertas">
      <div class="producto-oferta">
        <a href="products/detail/1001">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11108141/Sony-PlayStation-5-Digital-Edition-Console?$pdp2x$">
        </a>
        <div href="products/detail/1001" class="caja-datos-producto">
            <h3 class="nombre-producto">PlayStation 5 Digital Edition</h3>
            <p class="categoria-marca">Sony | Consola</p>
            <div class="box-precio">
                <p class="descuento">-20%</p>
                <p class="precio-unitario">$500</p>
                <p class="precio">$400</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta">
        <a href="products/detail/1091">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/10138868/Microsoft-Xbox-One-S-500GB-Console-Deep-Blue-Special-Edition?$pdp2x$">
        </a>
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Xbox One S Deep Blue Special Edition 500GB</h3>
            <p class="categoria-marca">Microsoft | Consola</p>
            <div class="box-precio">
                <p class="descuento">-5%</p>
                <p class="precio-unitario">$290</p>
                <p class="precio">$275</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">        
          <a href="products/detail/1034">
              <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11156595/Call-of-Duty-Vanguard---PlayStation-5?$pdp2x$">
            </a>
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Call of Duty: Vanguard - Playstation 5</h3>
            <p class="categoria-marca">PS5 | Videojuegos</p>
            <div class="box-precio">
                <p class="descuento">-20%</p>
                <p class="precio-unitario">$53</p>
                <p class="precio">$42</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">
        <a href="products/detail/1034">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/10141928/Mario-Kart-8-Deluxe---Nintendo-Switch?$pdp2x$">
          </a>
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Mario Kart 8 Deluxe - Nintendo Switch</h3>
            <p class="categoria-marca">Nintendo | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$50</p>
                <p class="precio">$35</p>
            </div>
        </div>
      </div> 
    </section>
    <h3 class="novedades-title">Novedades</h3>
 <section class="novedades">
    <div class="producto-novedad">
        <a href="products/detail/1042">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/10141928/Mario-Kart-8-Deluxe---Nintendo-Switch?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Mario Kart 8 Deluxe - Nintendo Switch</h3>
            <p class="categoria-marca">Nintendo | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$50</p>
                <p class="precio">$35</p>
            </div>
        </div>
    </div>
    <div class="producto-novedad">
        <a href="products/detail/1036">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11099919/Five-Nights-at-Freddys-Security-Breach-Montgomery-Gator-Action-Figure?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">FNAF's: Security Breach Gator Figure</h3>
            <p class="categoria-marca">Funko | Figura</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$13</p>
                <p class="precio">$12</p>
            </div>
        </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <a href="products/detail/1021">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11105656/HyperX-Cloud-Core-7.1-Wired-Gaming-Headset?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">HyperX Cloud Core 7.1 Wired Headset</h3>
            <p class="categoria-marca">HyperX | Accesorios</p>
            <div class="box-precio">
                <p class="descuento">-5%</p>
                <p class="precio-unitario">$60</p>
                <p class="precio">$57</p>
            </div>
        </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <a href="products/detail/1097">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11137439/Samsung-49-in-Super-Ultra-Wide-Dual-QHD-5120x1440-120Hz-Curved-Gaming-Monitor-C49RG9?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Samsung 49in UltraWide Curved Monitor</h3>
            <p class="categoria-marca">Samsung | Accesorios</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$1200</p>
                <p class="precio">$600</p>
            </div>
        </div>
    </div>
    </div>
 </section>
 <section class="mas vendidos">
    <h3 class="novedades-title">Más vendidos</h3>
    <section class="novedades">
       <div class="producto-novedad">
        <a href="products/detail/1032">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11095777/Nintendo-Switch-Lite-Console-Zacian-and-Zamazenta-Edition?$pdp2x$">
          </a>
           <div class="caja-datos-producto" id="caja-datos-producto-novedad">
               <h3 class="nombre-producto">Nintendo Switch Lite Zacian Edition</h3>
               <p class="categoria-marca">Nintendo | Consola</p>
               <div class="box-precio">
                   <p class="descuento">-30%</p>
                   <p class="precio-unitario">$190</p>
                   <p class="precio">$133</p>
               </div>
       </div>
       </div>
       <div class="producto-novedad">
        <a href="products/detail/1081">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11118104/PowerA-Fusion-Pro-Wireless-Controller-for-Nintendo-Switch?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">PowerA Fusion Pro Wireless Controller</h3>
            <p class="categoria-marca">PowerA | Accesorios</p>
            <div class="box-precio">
                <p class="descuento">-20%</p>
                <p class="precio-unitario">$66</p>
                <p class="precio">$53</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <a href="products/detail/1099">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11103153/Call-of-Duty-Black-Ops-Cold-War---PlayStation-5?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">COD: Black Ops Cold War - PS5</h3>
            <p class="categoria-marca">Activision | Videojuegos</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$57</p>
                <p class="precio">$40</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <a href="products/detail/1094">
            <img class="producto-oferta" src="https://media.gamestop.com/i/gamestop/11118298/Crash-Bandicoot-4-Its-About-Time---Nintendo-Switch?$pdp2x$">
          </a>
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Crash Bandicoot 4 - Nintendo Switch</h3>
            <p class="categoria-marca">Nintendo | Videojuegos</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$25</p>
                <p class="precio">$23</p>
            </div>
    </div>
    </section>
 </section>

 <%-include('./partials/footer')%>
</body>
</html>