<!DOCTYPE html>
<html lang="en">
<head>
    <%-include('./partials/head')%>
    <title>Glue Games | sitio oficial</title>
    
</head>
<body>
    <%-include('./partials/header')%>
    
   <section class="carrusel">
    <img src="/images/Juegos/COD vanguard/VGD_SEE_THEM_RISE (2).jpg">
   </section>



   <section class="categorias">
    
    <div class="categoria">
        <a href="/products/departamento3"><img src="/images/homeImagenes/videojuegos.jpg"></a>
        <p class="nombre-categoria">Videojuegos</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento2"> <img src="/images/homeImagenes/accesorios.jpg"></a>
        <p class="nombre-categoria">Accesorios</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento4"> <img src="/images/homeImagenes/zelda.jpg"></a>
        <p class="nombre-categoria">Coleccionables</p>
    </div>
    <div class="categoria">
        <a href="/products/departamento1"> <img src="/images/homeImagenes/Consolas.jpg"></a>
        <p class="nombre-categoria">Consolas</p>
    </div>
   </section>
   <h3 class="ofertas-title">Ofertas</h3>
    <section class="ofertas">
      <div class="producto-oferta">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
      <div class="producto-oferta" id="producto-oferta-desk">
        
        <img src="/images/Consolas/Nintendo/61-PblYntsL._AC_SL1500_.jpg">
        <div class="caja-datos-producto">
            <h3 class="nombre-producto">Nintendo Switch</h3>
            <p class="categoria-marca">Consolas | Nintendo</p>
            <div class="box-precio">
                <p class="descuento">-30%</p>
                <p class="precio-unitario">$100,000</p>
                <p class="precio">$70,000</p>
            </div>
        </div>
      </div> 
    </section>
    <h3 class="novedades-title">novedades</h3>
 <section class="novedades">
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <img src="/images/homeImagenes/a10.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Auriculares A10</h3>
            <p class="categoria-marca">Auriculares | A10</p>
            <div class="box-precio">
                <p class="descuento">-50%</p>
                <p class="precio-unitario">$70,000</p>
                <p class="precio">$35,000</p>
            </div>
    </div>
    </div>
    </div>
 </section>
 <section class="mas vendidos">
    <h3 class="novedades-title">Más vendidos</h3>
    <section class="novedades">
       <div class="producto-novedad">
           <img src="/images/homeImagenes/legosw.jpg">
           <div class="caja-datos-producto" id="caja-datos-producto-novedad">
               <h3 class="nombre-producto">Lego baby Yoda</h3>
               <p class="categoria-marca">Coleccionables | LEGO</p>
               <div class="box-precio">
                   <p class="descuento">-10%</p>
                   <p class="precio-unitario">$50,000</p>
                   <p class="precio">$45,000</p>
               </div>
       </div>
       </div>
       <div class="producto-novedad">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </div>
    <div class="producto-novedad" id="producto-oferta-desk">
        <img src="/images/homeImagenes/legosw.jpg">
        <div class="caja-datos-producto" id="caja-datos-producto-novedad">
            <h3 class="nombre-producto">Lego baby Yoda</h3>
            <p class="categoria-marca">Coleccionables | LEGO</p>
            <div class="box-precio">
                <p class="descuento">-10%</p>
                <p class="precio-unitario">$50,000</p>
                <p class="precio">$45,000</p>
            </div>
    </div>
    </section>
 </section>

 <%-include('./partials/footer')%>
</body>
</html>