<!DOCTYPE html>
<html lang="en">
<%- include('partials/head') %>
<link rel="stylesheet" href="/css/style-productsList.css" >
<body>
    
    <img src="./images/wip-image.jpg" style="text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;" alt="imagen de error404">
    <div>
        <a href="/"><H2>Regresar al Home</H2></a>
    </div>
</body>
</html>