<footer>
    <div class="container-body-footer">
        
        <div class="footer-info">
            <h1>Información del e-commerce</h1>
            <p>GG es una plataforma y comunidad para jugadores de habla hispana basada en Argentina, donde vas a poder acceder a un sinfín de juegos, ofertas, novedades y todo lo relacionado al gaming. A su vez vas a poder relacionarte con compañeros alrededor del mundo, los cuales te ayudarán en este recorrido dentro de la comunidad, recomendando productos y reseñando los juegos para que siempre tengas lo mejor y encuentres lo que estés buscando. </p>
        </div>

        <div class="footer-redes">
            <h1>Nuestro GitHub</h1>
            <div class="redes"><a href="https://github.com/cristugarcia"><i class="fab fa-github-square"></i></a><label> Cristina Garcia</label></div>
            <div class="redes"><a href="https://github.com/EnsayistaPop"><i class="fab fa-github-square"></i></a><label> Pablo Cruz</label></div>
            <div class="redes"><a href="https://github.com/mferfarias"><i class="fab fa-github-square"></i></a><label> Fernanda Farias</label></div>
            <div class="redes"><a href="https://github.com/DanteDangeli"><i class="fab fa-github-square"></i></a><label> Dante D'Angeli</label></div>
        </div>

    </div>
    <div class="container-end-footer">
        <div class="disclaimer">Copyright © 2021 GlueGames.com.ar. All Right Reserved</div>
        <div class="logo-footer"><img src="/images/logo-gluegames.png" alt="logo gluegames"></div>
    </div>
</footer>