<footer>
    <h2>
        Información del e-commerce  
    </h2>
    <p>
        GG es una plataforma y comunidad para jugadores de habla hispana 
        basada en Argentina, donde vas a poder acceder a un sinfín de juegos, 
        ofertas, novedades y todo lo relacionado al gaming. 
        A su vez vas a poder relacionarte con compañeros alrededor del mundo,
        los cuales te ayudarán en este recorrido dentro de la comunidad, 
        recomendando productos y reseñando los juegos para que siempre tengas
         lo mejor y encuentres lo que estés buscando.   
    </p>
    <div class="logo" id="logo-footer">
        <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
     </div>
 </footer>