
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>


<header>
    <div class="logo">
        <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
     </div>
     
        
        <form method="post" action="/search">
            <input class="search1" type="text" placeholder="buscar un producto" name="buscado">
            
            <input class="searchButton" type="submit" value="buscar">

            
        </form>
   
     <nav class="nav-mobile">
     <div class="burguer-menu">
        <i class="fas fa-bars"></i>
     </div>
     <div class="cart">
        <i class="fas fa-shopping-cart"></i>
     </div>
    </nav>
     <nav class="nav-desktop">
      <div class="perfil-usuario">
         <% if (locals.isLogged) { %>
                <a href="/user/profile">
                    <img src="/images/users/<%= locals.userLogged.fotoPerfil %>">
                    <a href="/user/profile"><%= locals.userLogged.nombre %> </a>
                    <i class="fas fa-chevron-down"></i>
                    </a>
            <% } else { %>
         <img src="/images/users/1637980580577-user.jpg">
         <a href="/user/profile">Visitante</a>
         <i class="fas fa-chevron-down"></i>
         <% } %>
      </div>
      <div class="compras">
         <p >Mis compras</p>
         <i class="fas fa-chevron-down"></i>
      </div>
      <div class="favoritos">
        
         <i class="far fa-heart"></i>
      </div>
      <div class="notificaciones">
         <i class="far fa-bell"></i>
      </div>
      <div class="cart">
         <i class="fas fa-shopping-cart"></i>
      </div>
     </nav>
</header>
<nav class="nav-bottom">
   <div class="direccion-user">
      <i class="fas fa-map-marker-alt"></i>
      <section>
         <p>enviar a</p>
         <p class="cp">CP 00000</p>
      </section>
      
   </div>
   <ul>
      <li class="categoriasMain">categorias</li>
      <li>nosotros</li>
      <li>ayuda</li>
      <li>comunidad</li>
      <li>blog</li>
   </ul>
</nav>
<nav class="menu-navs">
   <ul class="categoriasNav">
      <li>juegos descargables</li>
      <li>play5</li>
      <li>xbox</li>
      <li>gamer props</li>
      <li>lego</li>
      <li>otros</li>
      <li>merch</li>
   </ul>
   <ul class="nosotrosNav">
      <li>equipo</li>
      <li>historia</li>
      <li>nuestro sueño</li>
   </ul>
   <ul class="ayudaNav">
      <li>aplicacion</li>
      <li>cambios</li>
      <li>garantias</li>
      <li>formas de pago</li>
   </ul>
   <ul class="comunidadNav">
      <li>gamers pros</li>
      <li>todos</li>
   </ul>
   <ul class="blogNav">
      <li>recientes</li>
      <li>hacks</li>
      <li>equipos</li>
      <li>como monetizar</li>
   </ul>
   <ul class="miCuentaNav">
      <li>Tu cuenta</li>
   </ul>
   <ul class="comprasNav">
      <li>compras recientes</li>
   </ul>
   <ul class="favoritosNav">
      <li>tus favs</li>
   </ul>
   <ul class="notificacionesNav">
      <li>tus notificaciones</li>
   </ul>
   <script src="/js/header.js"></script>
</nav>