<header class="main-header">

    <div>
       <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
    </div>

    <nav class="header-firstnav">
    
            <li><a disabled href="/products">Tienda</a></li>
            <li><a disabled href="#">Acerca de</a></li>
            <li><a disabled href="#">Soporte</a></li>
    
    </nav>

    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar" />
        </div>
      </div>

    <nav class="header-secondnav">
        <% if (locals.isLogged) { %>
            <li>
                <a href="/user/profile">
                    <img class= "border-radius: 100%; vertical-align: middle" src="/images/users/<%= locals.userLogged.fotoPerfil %>" width="40" style="border-radius: 100%;">
                     <%= locals.userLogged.nombre %> 
                    </a>

            <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>            
                </li>
            <% } else { %>
                <li><a href="/user/login">Iniciar sesión</a></li>
                <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>
            <% } %>
        
    </nav>

</header>