
    <link rel="stylesheet" href="/css/headerStyle.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>


<header>
    <div class="logo">
        <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
     </div>

<form method="post" action="/search" class="search">
      <input class="search1" type="text" placeholder="buscar un producto" name="buscado">
      <input class="searchButton" type="submit" value="buscar">
</form>
      
 <ul class="menu__links menu__links__top nav-top">

      <li class="menu__item__top perfil-usuario">
         <% if (locals.isLogged) { %>
            <a href="/user/profile">
                <img src="/images/users/<%= locals.userLogged.fotoPerfil %>">
                <a href="/user/profile"><%= locals.userLogged.nombre %> </a>
                </a>
        <% } else { %>
     <img src="/images/users/1637980580577-user.jpg">
     <a href="/user/profile">Iniciar Sesión</a>
     <i class="fas fa-chevron-down menu__arrow"></i>
     <% } %>
         <ul class="menu__nesting__top">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">mi cuenta</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">cerrar sesión</a>
            </li>
           
         </ul>
      </li>


      <li class="menu__item__top">
         <a href="#">
            Mis compras
         <i class="fas fa-chevron-down menu__arrow"></i>
      </a>
         <ul class="menu__nesting__top">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">Por el momento no tienes compras</a>
            </li>
           
         </ul>
      </li>

       <li class="menu__item__top">
         <a href="#">
         <i class="far fa-heart"></i>
      </a>
         <ul class="menu__nesting__top">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">Por el momento no tienes favoritos</a>
            </li>
           
         </ul>
      </li>

      <li class="menu__item__top">
         <a href="#">
         <i class="far fa-bell"></i>
      </a>
         <ul class="menu__nesting__top">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">Por el momento no tienes notificaciones</a>
            </li>
           
         </ul>
         <li class="menu__item__top carrito">
            <a href="#">
               <i class="fas fa-shopping-cart"></i>
         </a>
            <ul class="menu__nesting__top">
               <li class="menu__inside">
                  <a href="#" class="menu__link menu_link--inside">carrito vacio</a>
               </li>
              
            </ul>
      </li>
   </ul>

</header>

<nav class="nav-bottom">
   <div class="direccion-user">
      <i class="fas fa-map-marker-alt"></i>
      <section>
         <p>enviar a</p>
         <p class="cp">CP 00000</p>
      </section>
   </div>

   <ul class="menu__links__bottom">
      <li class="menu__item menu__item--show" >
         <a href="#">
         categorias
         <i class="fas fa-chevron-down menu__arrow"></i>
      </a>
         <ul class="menu__nesting">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">juegos de acción</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">realidad virtual</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">audifonos gamer</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">teclados gamer</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">playstation</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">xbox</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">nintendo</a>
            </li>
         </ul>
      </li>

      <li class="menu__item">
         <a href="#">
         nosotros
         <i class="fas fa-chevron-down menu__arrow""></i>
      </a>
         <ul class="menu__nesting">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">equipo</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">historia</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">nuestro sueño</a>
            </li>
         </ul>
      </li>

      <li class="menu__item">
         <a href="#">
         ayuda
         <i class="fas fa-chevron-down menu__arrow""></i>
      </a>
         <ul class="menu__nesting">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">acerca de la aplicación</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">cambios</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">garantias</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">formas de pago</a>
            </li>
         </ul>
      </li>

      <li class="menu__item">
         <a href="#">
         comunidad
         <i class="fas fa-chevron-down menu__arrow""></i>
      </a>
         <ul class="menu__nesting">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">gamers profesionales</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">aficionados</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">todos</a>
            </li>
         </ul>
      </li>

      <li class="menu__item">
         <a href="#">
         blog
         <i class="fas fa-chevron-down menu__arrow""></i>
      </a>
         <ul class="menu__nesting">
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">posts recientes</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">hacks gaming</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">recomendaciones de equipos</a>
            </li>
            <li class="menu__inside">
               <a href="#" class="menu__link menu_link--inside">monetiza tu talento</a>
            </li>
             </ul>
      </li>

     
   </ul>

   <script src="/js/header.js"></script>
</nav>