<header class="main-header">

    <div>
       <a href="/"><img src="/images/logo-gluegames.png" class="logo" alt="logo GlueGames"></a>
    </div>

    <nav class="header-firstnav">
    
            <li><a disabled href="/products">Tienda</a></li>
            <li><a disabled href="#">Acerca de</a></li>
            <li><a disabled href="#">Soporte</a></li>
    
    </nav>

    <div class="box">
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input type="search" id="search" placeholder="Buscar" />
        </div>
      </div>

    <nav class="header-secondnav">
        
            <li><a href="/users/login">Iniciar sesión</a></li>
            <li><a href="/products/productCart"><i class="fas fa-shopping-cart"></i></a></li>
    
    </nav>

</header>