<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="/js/validator.js"></script>
    <link rel="stylesheet" href="/css/style-registro.css">
    <title>registro</title>
</head>
<body>

</div>
  <form method="POST" class="crearProducto" action="/admin/products/create" enctype="multipart/form-data" >
    <figure class="logo">
        <a href="/"> <img src="/images/logo-gluegames.png" alt="logo" > </a>
    </figure>


   <div class="formulario">
    <div>
        <h2>Nuevo producto</h2>
    </div>
    <div class="erroresCrearProducto">
        <ul class="text-danger-v2"></ul> </div>
    <div>
        <div class="email">
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre">
        </div>

        <div class="email">
            <label for="precio">Precio</label>
            <input type="text" name="precio" id="precio">
        </div>      
        
        <div class="email">
            <label for="descripcion">Descripción</label>
            <input type="text" name="descripcion" id="descripcion">
        </div>      
<div class="foto">
    <label for="fotoProducto">Foto de producto</label>
    <input type="file" name="fotoProducto" id="fotoPerfil"  >
</div>

    </div>
   
    <div class="boton">
        <button type="submit">Crear</button>
        <button type="reset">Limpiar</button>
    </div>
</div>
</form>
</body>
</html>