<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-registro.css">
    <title>registro</title>
</head>
<body>

  <form method="POST" action="/admin/products/create" enctype="multipart/form-data" >
   <a href="/"> <img src="/images/logo-gluegames.png" alt="logo" class="logo"> </a>


   <div class="formulario">
    <div>
        <h2>Nuevo producto</h2>
    </div>
    <div>
        <label for="nombre">nombre</label>
        <input type="text" name="nombre" id="nombre">

        <label for="precio">precio</label>
        <input type="text" name="precio" id="precio">
        
        <label for="descripcion">descipcion</label>
        <input type="text" name="descripcion" id="descripcion">

    </div>
   
    <div class="botones">

       <button type="submit">Crear nuevo producto</button>

        <button type="reset">Borrar</button>
    </div>
</div>
</form>
</body>
</html>