<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;700&display=swap">
    <script src="https://kit.fontawesome.com/cd8fa35da4.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style-login.css">
    <title>registro</title>
</head>
<body>

  <form method="POST" action="/user/login">

    <figure class="logo">
        <a href="/"> <img src="/images/logo-gluegames.png" alt="logo" > </a>
    </figure>

    <h1>Ingresa con tu cuenta GG</h1>

<div class="formulario">
    <div class="email">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" class="control">
    </div>
<div class="contraseña">
    <label for="contraseña">Contraseña</label>
    <input type="password" name="contraseña" id="contraseña" >
    <% if (locals.errors && errors.email) { %>
        <div class="text-danger">
            <%= errors.email.msg %>
        </div>
    <% } %>
</div>
    <div class="mantener">
        <input type="checkbox" name="mantener" >
        <label for="mantener">Mantener mi sesión iniciada</label>
    </div>

    <div class="boton">
        <button type="submit">Iniciar sesión</button>
     </div>

    <div class="ayuda">
        <p><a href="#">¿Olvidaste tu contraseña? </a></p>
        <p>¿No tienes cuenta en GG? </p>
        <a href="/user/registro">Registrarse</a>
    </div>

    
</div>
</form>
</body>
</html>